.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .area3--content {
        padding: 250px 80px;
        @include h(h2);
        @include btn();
        background-image: url(../images/bg2.jpg);
        background-size: cover;
        background-position: left;
        .area3--text {
            margin-bottom: 50px;
            line-height: 25px;
        }
    }
    .area3--img1{
        background-image: url(../images/f5.jpg);
        background-size: cover;
        background-position: center;
    }
}