.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .area1--content {
        padding: 80px;
        @include bar();
        @include h(h2);
        @include btn();
        .area1--text {
            margin-bottom: 50px;
            line-height: 25px;
        }
    }
    .area1--quote {
        margin-bottom: 30px;
    }
    .area1--img1{
        background-image: url(../images/f2.jpg);
        background-size: cover;
        background-position: center;
        height: 350px;
    }
    .area1--img2{
        background-image: url(../images/f1.jpg);
        background-size: cover;
        background-position: center;
        grid-column: 2/3;
        grid-row: 1/3;
    }
}