.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .area2--content {
        padding: 80px;
        @include bar();
        @include h(h2);
        @include btn();
        .area2--text {
            margin-bottom: 50px;
            line-height: 25px;
        }
    }
    .area2--img1{
        background-image: url(../images/f4.jpg);
        background-size: cover;
        background-position: center;
        height: 450px;
    }
    .area2--img2{
        background-image: url(../images/f3.jpg);
        background-size: cover;
        background-position: center;
        grid-column: 1/2;
        grid-row: 1/3;
    }
}